# Configuraciones de seguridad

<IfModule mod_headers.c>
    # Prevenir ataques XSS y otras inyecciones de código
    Header set X-XSS-Protection "1; mode=block"
    Header always append X-Frame-Options "SAMEORIGIN"
    Header always set X-Content-Type-Options "nosniff"
    
    # Política de Seguridad de Contenido (CSP)
    Header always set Content-Security-Policy "default-src 'self'; script-src 'self'; object-src 'none';"
    
    # Strict Transport Security
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
    
    # Política de Referentes (Referrer Policy)
    Header always set Referrer-Policy "no-referrer-when-downgrade"
</IfModule>

# Denegar acceso directo al archivo config.php
<Files "config.php">
    Require all denied
</Files>

