# Configuraciones de seguridad

<IfModule mod_headers.c>
    # Prevenir ataques XSS y otras inyecciones de código
    Header set X-XSS-Protection "1; mode=block"
    Header always append X-Frame-Options "SAMEORIGIN"
    Header always set X-Content-Type-Options "nosniff"
    
    # Política de Seguridad de Contenido (CSP)
    Header always set Content-Security-Policy "default-src 'self'; script-src 'self'; object-src 'none';"
    
    # Strict Transport Security
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
    
    # Política de Referentes (Referrer Policy)
    Header always set Referrer-Policy "no-referrer-when-downgrade"
</IfModule>

# Denegar acceso directo al archivo config.php
<Files "config.php">
    Require all denied
</Files>

# Configuraciones PHP para mejorar la seguridad

# Deshabilitar el registro de variables globales
php_flag register_globals off

# Deshabilitar la visualización de errores
php_flag display_errors off
php_flag display_startup_errors off

# Deshabilitar los errores en formato HTML
php_flag html_errors off

# Configuración para no mostrar referencias a la documentación de PHP en errores
php_value docref_root 0
php_value docref_ext 0

# Deshabilitar la apertura de URL con funciones de manipulación de archivos
php_flag allow_url_fopen off
php_flag allow_url_include off
